altair
appnope
asttokens
attrs
backcall
blinker
cachetools
certifi
charset-normalizer
click
comm
debugpy
decorator
executing
gitdb
GitPython
idna
importlib-metadata
ipykernel
ipython
jedi
Jinja2
jsonschema
jupyter_client
jupyter_core
markdown-it-py
MarkupSafe
matplotlib-inline
mdurl
nest-asyncio
numpy
packaging
pandas
parso
patsy
pexpect
pickleshare
Pillow
platformdirs
plotly
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
pyarrow
pydeck
Pygments
Pympler
pyrsistent
python-dateutil
pytz
pytz-deprecation-shim
pyzmq
requests
rich
scipy
six
smmap
stack-data
statsmodels
streamlit
tenacity
toml
toolz
tornado
traitlets
typing_extensions
tzdata
tzlocal
urllib3
validators
watchdog
wcwidth
zipp